.App {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    "stdout stdout stdout stdout"
    "clear plus-minus percent divide"
    "seven eight nine multiply"
    "four five six subtract"
    "one two three add"
    "zero zero decimal equals";
  margin: 1rem auto;
  width: 60vmin;
  height: 80vmin;
  max-height: 90vmin;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem var(--dark-purple);
  border-radius: 0.4rem;
  grid-gap: 1vmin;
  padding: 1vmin;
  background-color: var(--dark);
}

.button {
  width: auto;
  transition: 300ms;
  font-size: 5vmin;
}

.button:hover {
  cursor: pointer;
}

.button:hover,
.button:focus,
.active {
  background-color: var(--dark-purple);
  color: var(--light);
}

.stdout {
  grid-area: stdout;
  justify-content: flex-end;
  background-color: var(--dark);
  color: var(--light);
  padding: 1rem;
}

@media (max-width: 446px) {
  body {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
  }

  #root,
  .App {
    height: 100%;
    width: 100%;
  }

  .App {
    box-sizing: border-box;
    border-radius: 0;
    margin: 0;
    max-height: 100%;
    height: 100%;
    width: 100%;
    grid-gap: 2px;
  }
}
