@import "./numbers.css";
@import "./commands.css";

.App {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    "stdout stdout stdout stdout"
    "clear plus-minus percent divide"
    "seven eight nine multiply"
    "four five six subtract"
    "one two three add"
    "zero zero decimal equals";
  margin: 1rem auto;
  width: 50vw;
  height: 60vw;
  max-height: 90vh;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem var(--dark-purple);
  border-radius: 0.4rem;
  grid-gap: 1vw;
  padding: 1vw;
  background-color: var(--dark);
}

.button {
  width: auto;
  transition: 300ms;
  font-size: 5vw;
}

.button:hover {
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--dark-purple);
  color: var(--light);
}

.stdout {
  grid-area: stdout;
  flex-direction: row-reverse;
  background-color: var(--dark);
  color: var(--light);
  font-size: 10vw;
  padding: 1rem;
}
