.number {
  background-color: var(--purple);
  color: var(--light);
}

.zero {
  grid-area: zero;
}

.zero-inner {
  width: 50%;
  border: none;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}
