@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");

:root {
  --dark: #000;
  --dark-purple: #3d2645;
  --purple: #832161;
  --pink: #da4167;
  --light: #f0eff4;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Fantasy, "Source Code Pro", sans-serif;
  font-size: 3rem;
  background-color: var(--light);
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.col6 {
  width: 50%;
}
